__pycache__
.DS_Store


post-process/
run_jointBERT-CRF_XLM-Rencoder.sh
run_jointIDSF_XLM-Rencoder.sh

data/

slu_data_1/train09.jsonl
slu_data_1/train08.jsonl
slu_data_1/data-process/label 
slu_data_1/data-process/seq.in 
slu_data_1/data-process/seq.out
slu_data_1/data-process/label_augmented
slu_data_1/data-process/seq_augmented.in 
slu_data_1/data-process/seq_augmented.out
slu_data_1/data-process/seq_augmented.in 
slu_data_1/data-process/seq_augmented.out
slu_data_1/data-process/extracted_text.txt
slu_data_1/data-process/intent_device_mapping.jsonl
slu_data_1/data-process/random_sentences.jsonl

Submission.zip
Vietname_SLU_data
wandb
slu_data_1
slu_data/processed_output
slu_data/syllable-level
slu_data/cached_*
ckpt
*_ngram.binary
bible.arpa
*.txt
*.jsonl
test.py